/* Utility Classes */
.display-1 {
	font-size: 4.5rem;
}

.display-2 {
	font-size: 2rem;
}

.display-3 {
	font-size: 1.2rem;
}

.p-1 {
	padding: 50px 0;
}

.mt-1 {
	margin-top: 30px;
}

.w-50 {
	width: 100%;
}

.flex {
	flex-direction: column;
}

/* Navbar */
#navbar {
	height: 100%;
	padding: 20px 0;
}

#navbar .logo img {
	margin-bottom: 15px;
}

#navbar .container {
	flex-direction: column;
}

#navbar ul li {
	font-size: 15px;
}

/* Header */
.mainheader {
	min-height: 100%;
	padding: 50px 0;
}

.mainheader img {
	max-width: 180px;
}
